body {
  background-color: #fafbf5;
}

.pretitle {
  letter-spacing: 1px;
  font-size: 26px;
  font-weight: 700;
}

.endtitle {
  padding-top: 8px;
  letter-spacing: 1px;
  font-size: 26px;
  font-weight: 700;
}

.title-container {
  padding-top: 140px;
  display: inline-block;
}


.title {
  font-family: "Playfair Display", serif;
  color: #41474c;
  font-size: 120px;
  align-self: center;
}

.subheader {
  color: #b9cec8;
  font-size: 30px;
}

.highlight {
  color: #99c221;
}

.resume-text {
  color: red;
}
