body {
  background-color: #fafbf5;
}

.pretitle {
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 700;
}

.endtitle {
  padding-top: 8px;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 700;
}

.title-container {
  padding-top: 250px;
  display: inline-block;
}

.title {
  font-family: "Playfair Display", serif;
  color: #41474c;
  font-size:130px;
  align-self: center;
}

.highlight {
  color: #99c221;
}

.resume-text {
  color: red;
}
