body {
  background-color: #fafbf5;
}

.navbar-custom {
  flex-direction: row;
  padding-top: 12px;
}

.navbar-font {
  font-size: 1.2em;
  color: #41474c;
  text-decoration: none;
  font-weight: 300;
}
.navbar-font:hover {
  color: #41474c;
}
.navbar-font:visited {
  color: inherit;
}

.hover-color {
  border-bottom: 7px solid transparent;
}
.hover-color:hover {
  color: #889199;
  border-bottom: 7px solid #d5ddbc;
}

.navbar-nav-custom {
  display: flex;
}

.active {
  border-bottom: 7px solid #99c221;
}
.active:hover {
  color: #41474c;
  border-color: #99c221;
}

.header-background {
  width: 100vw;
  background-color:  #99c221;
  height: 2px;;
}

.nav-item {
  font-weight: 300;
  font-size: 50px;
}
