  .navbar-custom {
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    padding-top: 30px;
  }
  
  .navbar-font {
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }
  
  .menu-button-wrapper {
    background: transparent;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #000000;
  }

  .nav-link {
    filter:blur(0.1px);
  }

  .active {
    filter:blur(0px);
  }

  .img {
    width: 60;
    height: 60;
  }
  