  .navbar-custom {
    background-color: hsl(212, 31%, 53%);
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center
  }
  
  .navbar-font {
    letter-spacing: 4px;
  }
  
  .menu-button-wrapper {
    background: transparent;
    letter-spacing: 4px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #FFFFFF;
  }

  .nav-link {
    filter:blur(0.5px);
  }

  .active {
    filter:blur(0px);
  }
  