.background {
    background-color:#fafbf5;
    width: 100%;
    height: 100vh;
}

.font {
    font-family: 'Open Sans', sans-serif;
}

.header {
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size: 60px;
}

.subheader {
    color: #b9cec8;
    font-size: 30px;
}