.background {
    background-color: hsl(162, 19%, 48%);
    width: 100vw;
    height: 100vh;
}

.font {
    letter-spacing: 4px;
}

.header {
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size: 90px;
}