body {
  font-family: 'Readex Pro', sans-serif, Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: #3a3a3a;
  color: #F7FFE5;
  margin: 0px;
  font-size: 1.3rem;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #F7FFE5;
  text-decoration: none;
  display: block;
}

.header-section {
  font-size: 6rem;
  padding: 9rem;
  margin-bottom: 4rem;
}

.overlap {
  position: absolute;
}

.green {
  color: #87C977;
}

.underline {
  text-decoration: underline;
}

.next-section {
  font-size: 2rem;
  margin-top: 2rem;
}

.next-section-button {
  stroke-width: 2px;
  stroke: #F7FFE5;
}

.text-center {
  text-align: center;
}

.gradient-background {
  background: linear-gradient(300deg, #111510, #262d26, #425c4b);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-section {
  padding: 9rem;
  padding-top: 10rem;
}

.section-header {
  font-size: 6rem;
  padding-bottom: 4rem;
}

.divider {
  background-color: #F7FFE5;
  height: 1px;
  margin-top: 5rem;
}

.white {
  color: #f7ffe5;
}