.background {
    background-color: hsl(46, 54%, 68%);
    width: 100vw;
    height: 100vh;
}

.navbar-custom {
    background-color: hsl(46, 54%, 68%);
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center
}

.navbar-font {
    letter-spacing: 4px;
}

.menu-button-wrapper
{
    background: transparent;
    border: none;
    outline: none;
    letter-spacing: 4px;
}